[Desktop Entry]
Encoding=UTF-8
Name=ModShell (fullscreen)
Name[hu]=ModShell (teljes képernyős)
Exec=modshell --fullscreen
Icon=modshell
GenericName=Command-driven scriptable Modbus utility
GenericName[hu]=Parancsvezérelt szkriptelhető Modbus segédprogram
Type=Application
Categories=Network;Utility;
StartupNotify=true
Terminal=true
