[Desktop Entry]
Encoding=UTF-8
Name=ModShell
Name[hu]=ModShell
Exec=modshell
Icon=modshell
GenericName=Command-driven scriptable Modbus utility
GenericName[hu]=Parancsvezérelt szkriptelhető Modbus segédprogram
Type=Application
Categories=Network;Utility;
StartupNotify=true
Terminal=true

