[Desktop Entry]
Encoding=UTF-8
Name=ModShell (fullscreen)
Exec=modshell --fullscreen
Icon=modshell
Comment=Command-driven scriptable Modbus utility
Type=Application
Categories=Application;Network;
Terminal=true
StartupNotify=true

